
@font-face {
  font-family: 'GothamRoundedMedium';
  src: url('GothamRoundedMedium.eot?#iefix') format('embedded-opentype'),  url('GothamRoundedMedium.woff') format('woff'), url('GothamRoundedMedium.ttf')  format('truetype'), url('GothamRoundedMedium.svg#GothamRoundedMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
